*
{
    box-sizing:border-box;
}

body, html {
    margin:0px;
   background-color:#0fffff;
    padding:0px;
}

.uphead
{
    background-color:#000000;
    height:40px;
    position:absolute;
    top:0px;
    width:100%;opacity:.4;
    z-index:4;
}
 .signbar
        {  width:100%;
          position:absolute;
         
       bottom:0px;left:0px;

       border-top: 3px solid lightslategrey;
           padding: 20px 100px 20px 100px;
           color:#563F48;
           font-family:'Roboto condensed', sans-serif;
        }
.heade
{
    width:30%;
    height:100px;
    position:absolute;
    top:40px;
    left:35%;
    text-align:center;
 /*   border:1px solid green;*/overflow:hidden;
    
}
p.hea
{
    font-family:'Roboto',sans-serif;
    font-size:4em;
    color:#000;
    line-height:5px;
    
}
.firstliner
{ text-align:center;
     font-family:'Roboto',sans-serif;
    font-size:1.7em;
  
    line-height:30px;
}
.uppe
{text-align:center;
    width:60%;
    position:absolute;
    left:20%;top:150px;height:200px;
   /* border:1px dotted gray;*/overflow:hidden;
    color:#563F48;
}
.restbod
{
    width:85%;
    position:absolute;
    left:7.5%;
    top:350px;
 /*   border:1px dashed yellow;*/
    height:auto;
    overflow:hidden;
}
.firstsm
{
    text-align:center;
     font-family:'Roboto',sans-serif;
    font-size:1.2em;
    color:#563F48;
    
}
.bodily
{
     text-align:center;
     font-family:'Roboto',sans-serif;
    font-size:1em;
   
}