<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Authentication/LoginAuth.aspx" defaultUrl="~/Albums.aspx" timeout="10" >
        <credentials passwordFormat="Clear">
          <user name="supercontactinherit" password="allow"/>
          <user name="alterablehigh" password="allow"/>
          <user name="ginoverkeyboarding" password="allow"/>
          <user name="overworldinputters" password="allow"/>
          <user name="todayisfine" password="allow"/>
      <!-- This is demo user -->
        <user name="demoseekerhen" password="allow"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Bancrofti">
  <system.web>
    <authorization>
      <allow users="alterablehigh, todayisfine"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</location>
  
  <location path="PriorityHolders">
  <system.web>
    <authorization>
      <allow users="alterablehigh, supercontactinherit, overworldinputters"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</location>

<location path="Public">
  <system.web>
    <authorization>
      <allow users="*"/>
     
    </authorization>
  </system.web>
</location>
<location path="Carrier">
  <system.web>
    <authorization>
      <allow users="*"/>
     
    </authorization>
  </system.web>
</location>
  <location path="~/JupiterRevolver.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UnderTheHood">
  <system.web>
    <authorization>
      <allow users="alterablehigh, ginoverkeyboarding"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</location>
  <location path ="SuperUsers">
    <system.web>
      <authorization>
        <allow users="alterablehigh, supercontactinherit"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
